/*cartão*/
.cartao{
    margin-bottom:10px;margin:20px auto;-moz-border-radius:5px;border-radius:5px;
    width:600px;background:#fff;-webkit-border-radius:5px;box-shadow:0 0 1px #666;
    padding:13px 20px 20px 20px;
}

.couponDiscount{
    margin-bottom:10px;margin:20px auto;-moz-border-radius:5px;border-radius:5px;
    width:600px;background:#fff;-webkit-border-radius:5px;box-shadow:0 0 1px #666;
    padding:13px 20px 20px 20px;
}

  .banner{margin-bottom:10px;margin:20px auto;-moz-border-radius:5px;border-radius:5px;width:600px;background:#fff;-webkit-border-radius:5px;}

.mp-standard-banner {
  width: 320px;
  display: inline;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.mp-form {
    border: 1px solid #d6d4d4;
    border-radius: 4px;
    padding: 10px;
    width: 570px;
    background: white;
    margin-bottom: 20px;
  }

.hover:hover {
  background: 60% no-repeat whitesmoke;
}
