<div class="buttons">
	<div class="pull-right">
		<a href="{{ preference['response']['init_point'] }}" name="MP-Checkout" mp-mode="modal" class="btn btn-primary" data-loading-text="{{ text_loading }}">{{ button_confirm }}</a>
	</div>
</div>
<script type="text/javascript" src="https://resources.mlstatic.com/mptools/render.js"></script>
