.form-group .banner{
   text-align: center;
 }

#applyCoupon, #btnSubmit {
     color: #fff;
     background-color: #337ab7;
     border-color: #2e6da4;
     padding: 6px 12px;
     border: 1px solid transparent;
     border-radius: 4px;
     text-align: center;
     font-size: 14px;
     font-weight: 400;
 }